<div id = 'kinesisStreamName' title = "{{ $.Site.Params.kinesisstreamname}}"/>
<div id = 'cognitoPoolId' title = "{{ $.Site.Params.cognitopoolid}}"/>
<div id = 'awsRegion' title = "{{ $.Site.Params.awsregion}}"/>
<div id = 'deliveryId' title = "{{ $.Site.Params.deliveryid}}"/>
<div id = 'language' title = "{{ $.Site.Language}}"/>
<div id = 'versions' title = "{{ $.Site.Params.versions}}"/>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
<script src="{{"js/kinesis.js" | relURL}}"></script>